extends layouts/default.pug

block variables
	- var authenticated = authstate

block content
	.container
		if cart
			div
				.row
					h4.col.s9 #{cart.shop.name}
					.input-field.col.s3
						input(id="time", type="time", placeholder="Fetch-Time e.g. 07:06", required, validate)
				table.highlight
					thead 
						tr
							th Name
							th Amount
							th Item Price
					tbody
						each val, index in cart.items
							tr
								td #{val.name}
								td #{val.amount}
								td #{val.price}
									a.btn-flat.waves-effect.waves-light.right(id=index+'clear')
										i.material-icons clear
				a.btn-large.waves-effect.waves-light(id='buy') Order now
					i.material-icons.left room_service

block ajax_scripts
	script.
		$('#buy').click(function(){
			var json = {
				mode : "save",
				time : $('#time').val()
			}
			var regextime = /^([0-1][0-9]|2[0-3]):([0-5][0-9])$/
			var valid = regextime.test($('#time').val());
			if (valid){
				$.ajax({
						url : "/cart",
						type : "post",
						contentType : "application/json",
						data : JSON.stringify(json#{index}),
						error : function(data, error, text){
							swal({
								title : "Something went wrong.",
								type : "error",
								showConfirmButton : false,
								allowOutsideClick : true,
								timer : 2000
							});
						},
						success : function (data, textStatus, jqHXT){
							swal({
								title : "Order placed.",
								type : "success",
								showConfirmButton : false,
								allowOutsideClick : true,
								timer : 2000
							});
						}
				});
			} else {
				swal({
					title : "Please enter a correct fetch time.",
					type : "error",
					showConfirmButton : false,
					allowOutsideClick : true,
					timer : 2000
				});
			}
		});

	each val, index in cart.items
		script.
			var json#{index} = {
					mode : "remove",
					shop : {
						id: '#{cart.shop.id}',
						name : '#{cart.shop.name}'
					},
					item : {
						name : '#{val.name}',
						price : '#{val.price}'
					}
				}
			$('##{index}clear').click(function(){
				$.ajax({
					url : "/cart",
					type : "post",
					contentType : "application/json",
					data : JSON.stringify(json#{index}),
					error : function(data, error, text){
						swal({
							title : "Something went wrong.",
							type : "error",
							showConfirmButton : false,
							allowOutsideClick : true,
							timer : 2000
						});
					},
					success : function (data, textStatus, jqHXT){
						Materialize.toast('Item removed', 2000)

					}
				});
			});