extends layouts/default.pug

block variables
	- var authenticated = authstate

block content
	ul.col(style='list-style-type: none; width:320px; z-index:2; position: relative;')
		- var labelnumber = 1
		each shop in shops
			a(href='search/shop/' + shop._id)
				li.card(id= shop._id)
					.card-content
						h4.card-title #{labelnumber}.  #{shop.shopTitle}
						p.card-content= shop.description
						//- p = distance() //calculate, need to figure this out.
			- labelnumber++
		else
			li.card 
				.card-content Es wurden leider keine Restaurants gefunden.

	#map
	doctype html
	style.
		html {min-height:100vh;}
		header, footer {display: block; width:100%; z-index:3;}
		header {position: fixed; top:0;}
		footer {position:relative;}
		ul.col {padding-top:70px; list-style-type: none; width: 20em; z-index: 1; position: relative;}
		#map {position: fixed !important; height:100%; width:100%; z-index: 0 !important; top:0}

block scripts
		script function initMap(){
			|var mitte = {lat: 52.5255, lng: 13.4075};
			|var mapstyle = [{"featureType": "poi","elementType": "labels","stylers": [{"visibility": "off"}]}];
			|var labelnumber = 1;
			|var map = new google.maps.Map(document.getElementById('map'), {
			|	mapTypeControlOptions: {
			|		mapTypeIds: ['mapstyle']},
			|	zoom: 17,
			|	center: mitte,
			|	mapTypeControl: false,
			|	zoomControl: true,
			|	zoomControlOptions: { 
			|		position: google.maps.ControlPosition.RIGHT_CENTER
			|	},
			|	scaleControl: true,
			|	streetViewControl: false,
			|});
			|map.set('styles', mapstyle);
			each shop in shops
				|var marker = new google.maps.Marker({
				|	position: {lat: #{shop.latitude}, lng: #{shop.longitude} },
				|	label: labelnumber.toString(),
				|	map: map
				|});
				|labelnumber++;
			|};
		script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDo4VFphhmtH6Y4JbBJDh9hE76fCPAOlp4&callback=initMap')
